* {
	margin: 0;
}

body {
	background-color: white;
}

nav {
	display: flex;
	background-color: black;
	color: white;
	justify-content: space-between;
	align-items: center;
}

h3 {
	margin-top: 0.5em;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
}

ul {
	display: flex;
}

li {
	list-style: none;
	margin-right: 0.5em;
}

li > a {
	text-decoration: none;
	color: white;
}

img {
	width: 100%;
}

/* after main juice world picture */

h1 {
	margin-top: 1em;
}

.top {
	margin-top: 1em;
	margin-bottom: 1em;
}

a {
	color: orange;
}

iframe {
	width: 100%;
}

.container {
	position: relative;
}

.centered-img-text {
	position: absolute;
  	top: 80%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	font-size: 18px;
  	text-align: center;
  	color: black;
}

.juicesGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-evenly;
	text-align: center;
}

.juicesGrid > div {
	/*grid-template-rows: 1fr 1fr 1fr;*/
}

.juices > div > div > div > img {
	width: 50%;
}

.subtitle-text {
	text-align: center;
}

.top {
	text-align: center;	
}

.teamGrid {
	/*this is the grid for the two rows of team pictures */
	display: grid;
	grid-template-rows: 1fr 1fr;
	gap: 1.2em;
	padding-bottom: 1.2em;
	padding-right: 1.2em;
	padding-left: 1.2em;
}

.teamGrid > div {
	/*this is the grid for the three columns of team pictures */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-evenly;
	gap: 0.7em;
}

.teamGrid > div > img {
	width: 100%;
}

footer {
	background-color: black;
	color: white;
	text-align: center;
}

footer > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

h4 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

footer > div > a > img {
	margin-top: 0.2em;
	margin-left: 0.2em;
	width: 16px;
}

footer > p:not(:last-child) {
	padding-bottom: 0.5em;
}

.open {
	padding-bottom: 1em;
}